* {
    box-sizing: border-box;
  }

body {
background-image: url("../images/full-bloom.png");
background-color: white;
font-family: 'Muli', Arial, "Helvetica Neue", Helvetica, sans-serif;
margin: auto;
}

.nav-link {
  color: lightgreen !important;
}

a:hover {
  color: grey !important;
}

.navbar-brand {
  color: pink !important;
  font-family: 'Pacifico', Arial, Helvetica, sans-serif !important;
  font-size: 32px;
}

.navbar-toggler .navbar-toggler-icon {
  position: relative;
  margin-left: auto;
}

header {
  margin-bottom: 100px;
}

.wrapper {
  background-color: white;
  height: 360px;
  color: #777;
  width: 960px;
  margin: 0 auto;
  padding: 30px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
}